.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid #000;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
